FONTS*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-900.woff") format("woff");
}
/*CUSTOM PROPERTIES*/
:root {
  --font-family: "Roboto", "Arial", sans-serif;
}
/* #BOX-SIZING */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(42, 80, 147, 0.4);
  border-radius: 1px;
}

/* #GLOBAL-STYLES */
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #222;
  font-weight: 500;
}

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1225px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*SITE-HEADER*/
.site-header__content {
  display: none;
}
.site-header--open .site-header__content {
  display: block;
}
.site-header__container {
  display: flex;
  align-items: center;
}
/*SITENAV MENU*/


.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.sitenav {
  margin-top: 40px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.sitenav__link {
  margin-right: auto;
}
.sitenav__logo,
.site-footer__logo {
  display: block;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sitenav__item {
  margin-left: 72px;
  padding-top: 9px;
}
.sitenav__item:not(.sitenav__item--last):after {
  margin-top: 13px;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #717cff;
  transition: 0.8s ease;
}
.sitenav__item:hover:after {
  width: 100%;
}
.sitenav__item--last {
  margin-bottom: 13px;
}
.sitenav__link {
  text-decoration: none;
  color: #505050;
  line-height: 20px;
  font-size: 17px;
}
.sitenav__link--bordered {
  padding: 9px 33px 13px 35px;
  border-radius: 11px;
  border: 2px solid #717cff;
  transition: background-color 0.2s linear,
              color 0.1s linear;
}
.sitenav__link--bordered:hover {
  color: #fff;
  background-color: #717cff;
}

/*MAIN*/

/*SUPPORT*/
.support {
  padding-top: 150px;
  padding-bottom: 54px;
  background-image: url("../images/student-woman.png");
  background-repeat: no-repeat;
  background-size: 1049px 728px;
  background-position: calc(50% + 600px) calc(-165%);
}
.support__info-wrapper {
  width: 600px;
}
.support__heading {
  font-weight: 900;
  font-size: 56px;
  line-height: 65px;
  margin-bottom: 15px;
}
.support__heading b {
  color: #717cff;
}
.support__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
  margin-bottom: 42px;
}
.support__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 11px 31px;
  border: 2px solid transparent;
  border-radius: 11px;
  margin-bottom: 101px;
  transition: background-color 0.2s ease,
              color 0.1s linear;
}
.support__button:hover {
  color: #717cff;
  border: 2px solid #717cff;
  background-color: #fafafa;
}
.support__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 29px;
  transition: transform 0.3s ease;
}

.support__socials {
  display: flex;
  align-items: center;
}
.support__socials__link {
  text-decoration: none;
}
.support__socials__link svg {
  display: block;
}
.facebook {
  margin-right: 23px;
}
.twitter {
  margin-right: 15px;
}

/*UNIVERSITIES*/
.universities {
  background-color: #fafafa;
  padding-top: 55px;
  padding-bottom: 175px;
}

.universities__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  line-height: 27px;
  color: #373737;
  letter-spacing: 2.1px;
}
.universities__list {
  display: flex;
  align-items: center;
}
.universities__link {
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
}
.universities__link__img {
  width: 250px;
  transition: transform 0.4s ease;
}
.universities__link__img:hover {
  transform: scale(1.050);
}

/*SERVICES SECTION*/
.services {
  padding-top: 122px;
  padding-bottom: 126px;
}
.services__title-wrapper {
  width: 950px;
  margin: 0 auto 110px;
  text-align: center;
}
.services__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
  letter-spacing: -0.46px;
  color: #373737;
}
.services__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__item {
  width: 345px;
  border-radius: 15px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  padding: 29px 17px 30px 31px;
  margin-left: 23px;
}
.services__item:not(.services__item:nth-of-type(3n)) {
  margin-right: 23px;
}
.services__info__heading:before {
  display: block;
  content: "";
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 30px;

}
.services__info__heading {
  color: #37474f;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 9px;
}
.services__info__heading--radar:before {
  background-image: url("../images/radar.svg");
  background-color: #717cff;
}
.services__info__heading--bookmark:before {
  background-image: url("../images/bookmark.svg");
  background-color: #ff5959;
}

.services__info__heading--checked:before {
  background-image: url("../images/file-checked.svg");
  background-color: #70ce88;
}

.services__info__heading--home:before {
  background-image: url("../images/home.svg");
  background-color: #717cff;
}

.services__info__heading--airplane:before {
  background-image: url("../images/airplane.svg");
  background-color: #fa706c;
}

.services__info__desc {
  color: rgba(55, 71, 79, 0.7216);
  line-height: 28px;
  letter-spacing: 0.44px;
  margin-bottom: 24px;
}
.services__info__link {
  width: 150px;
  display: flex;
  align-items: center;
  color: #717cff;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
}
.services__info__link:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 29px;
  transition: transform 0.3s ease;
}
.services__info__link:hover.services__info__link:after {
  transform: translateX(10px);
}


/*NEWS*/
.news {
  background-color: #fafafa;
  padding-top: 102px;
  padding-bottom: 124px;
}
.news__title-wrapper {
  width: 950px;
  margin: 0 auto 119px;
  text-align: center;
}
.news__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
  letter-spacing: -0.46px;
  color: #373737;
}
.news__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.news__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 146px;
}
.news__item {
  width: 344px;
  border-radius: 10px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.1039);
  margin-left: 23px;
  margin-right: 23px;
}

.news__info {
  background-color: #fff;
  padding: 29px 27px 62px 26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.news__info time:before {
  content: "";
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  margin-right: 12px;
}
.news__info time {
  display: flex;
  margin-bottom: 15px;
}
.news__info__heading {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}
.news__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 12px 34px;
  border-radius: 11px;
  margin: 0 auto 101px;
  transition: background-color 0.2s ease,
              color 0.1s linear;
  border: 2px solid transparent;
}
.news__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 36px;
}
.news__button:hover {
  color: #717cff;
  border: 2px solid #717cff;
  background-color: #fafafa;
}

/*EVENTS*/

.events {
  padding-top: 98px;
  padding-bottom: 203px;
}
.events__title-wrapper {
  width: 950px;
  margin: 0 auto;
  text-align: center;
}

.events__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
  color: #373737;
}
.events__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
  margin-bottom: 100px;
}
.events__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.events__item {
  padding: 29px 27px 31px 31px;
  width: 540px;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  transition: transform 0.5s ease;
  margin-right: 23px;
  margin-left: 23px;
}
.events__card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 28px;
}
.events__card__date {
  width: 76px;
  color: #717cff;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(113, 124, 255, 0.14);
  border-radius: 11px;
  text-align: center;
  padding: 10px 22px 13px 22px;
}
.events__card__date b {
  font-size: 27px;
  line-height: 32px;
}
.events__card__heading {
  font-size: 24px;
  line-height: 37px;
  margin-left: 19px;
}
.events__card__desc {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: rgba(55, 71, 79, 0.721569);
  margin-bottom: 25px;
}
.events__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.events__info__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.439286px;
  color: #717cff;
}
.events__info__link:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 29px;
  transition: transform 0.3s ease;
}
.events__info__link:hover.events__info__link:after {
  transform: translateX(10px);
}
.events__info__time:before {
  content: "";
  background-image: url("../images/time.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.events__info__time {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.44px;
  color: #373737;
}

/*COUNTRIES*/
.countries {
  background-color: #fafafa;
  padding-top: 82px;
  padding-bottom: 190px;
}
.countries__title-wrapper {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 77px;
}
.countries__heading {
  font-size: 37px;
  line-height: 54px;
  letter-spacing: 0.46px;
  margin-bottom: 25px;
}
.countries__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.countries__list {
  overflow-x: scroll;
  display: flex;
}
.countries__item {
  width: 348px;
}
.countries__item:not(.countries__item:last-child) {
  margin-right: 50px;
  margin-bottom: 30px;
}
.countries__item:nth-of-type(3n) {
  margin-right: 70px;
}
.countries__image {
  margin-bottom: 27px;
}

.countries__info__link {
  display: inline-block;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 11px;
  font-weight: 700;
  text-decoration: none;
  color: #37474f;
}
.countries__info__desc {
    line-height: 27px;
    color: rgba(55, 71, 79, 0.7216);
}
.countries__info__link:hover {
  text-decoration: underline;
}
/*TESTIMONIAL*/
.testimonial {
  margin-top: 114px;
  margin-bottom: 98px;
}

.testimonial__title-wrapper {
  width: 950px;
  margin: 0 auto 142px;
  text-align: center;
}
.testimonial__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
}
.testimonial__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.testimonial__list {
  position: relative;
  display: flex;
  align-items: baseline;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  justify-content: space-between;
}

.testimonial__item {
  width: 503px;
  padding: 39px 34px 46px;
  border-radius: 29px;
  z-index: 11;
}
.testimonial__info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial__info__img {
  margin-right: 20px;
}
.testimonial__info__heading {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 4px;
  color: rgb(55, 71, 79);
}

.testimonial__info__text {
  font-size: 18px;
  line-height: 21px;
  color: rgba(55, 71, 79, 0.6);
}

.testimonial__info__desc {
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.7216);
}
.slick-slide {
  width: 503px;
  margin-right: 61px;
}

/*JOIN-US*/
.join-us {
  background-color: #fafafa;
  padding-top: 92px;
  padding-bottom: 85px;
}
.join-us__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join-us__heading {
  font-size: 37px;
  line-height: 43px;
  font-weight: 700;
}
.join-us__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 11px 33px;
  border: 2px solid transparent;
  border-radius: 11px;
  transition: background-color 0.2s ease,
              color 0.1s linear;
}
.join-us__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 36px;
  transition: transform 0.3s ease;
}
.join-us__button:hover {
  color: #717cff;
  border: 2px solid #717cff;
  background-color: #fafafa;
}
.section {
  height: 50vh;
  background-color: #fff;
}

/*SITE-FOOTER*/
.site-footer {
  background-color: #717cff;
  color: #eee;
  padding-top: 64px;
  padding-bottom: 45px;
}
.site-footer__container {
  display: flex;
  align-items: center;
}
.site-footer__info {
  width: 343px;
  margin-right: 130px;
}
.site-footer__link--logo {
  margin-bottom: 26px;
}
.site-footer__logo {
  display: inline-block;
}
address {
  font-style: normal;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 58px;
}
.copyright {
  font-size: 18px;
  line-height: 38px;
}
.site-footer__nav {
  display: flex;
}
.site-footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 152px;
}
.site-footer__link {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
  line-height: 49px;
  font-weight: 500;
}
.site-footer__link:hover {
  text-decoration: underline;
} 
.site-footer__socials {
  align-self: end;
  display: flex;
  align-items: center;
}
.site-footer__socials__link {
  text-decoration: none;
  margin-bottom: 15px;
}
.site-footer__socials__link:not(.site-footer__socials__link:last-child) {
  margin-right: 28px;
}
.site-footer__socials__link svg {
  display: block;
}



/*RESPONSIVE DESIGN*/ 
@media only screen and (max-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  .universities__list {
    flex-flow: wrap;
    justify-content: space-around;
  }
  .services__list {
    justify-content: none;
  }
  .services__item {
    margin-right: 23px;
    margin-left: 23px;
  }
  .news__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .news__item {
    margin-bottom: 50px;
  }
  .countries__list {
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .countries__item {
    margin: 0;
    margin-right: 25px;
    margin-left: 25px;
  }
  .testimonial__list {
    flex-wrap: wrap;
  }
  .testimonial__item {
    width: 400px;
    margin: 0 auto;
  }
  .testimonial__info {
    flex-direction: column;
  }
  .testimonial__info__img {
    margin-bottom: 15px;
  }
  .testimonial__info span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-footer__nav {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-footer__link {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    width: 1010px;
    margin: 0 auto;
  }
    /*SUPPORT*/
  .support {
    padding-top: 150px;
    padding-bottom: 54px;
    background-image: none;
  }
  .support__info-wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .support__button {
    margin: 0 auto 101px;
  }
  .support__socials {
    justify-content: center;
  }
  .title-wrapper {
    width: 750px;
  }
  .events__list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .events__item {
    margin-bottom: 50px;
    padding: 28px;
  }
}

@media only screen and (max-width: 870px) {
  .container {
    width: 810px;
    margin: 0 auto;
  }
  .support__info-wrapper {
    width: 600px;
  }
  .title-wrapper {
    width: 620px;
  }
  .countries__item {
    text-align: center;
  }
  .site-footer__info {
    margin: 0;
  }
  .site-footer__container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }
  .site-footer__nav {
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .site-footer__list {
    margin: 0;
    margin-bottom: 50px;
  }
  .site-footer__socials {
    margin: 0 auto;
  }
}


@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .join-us__button {
    width: auto;
    white-space: nowrap; 
  }
  .services__item {
    padding: 28px;
  }
}

@media only screen and (max-width: 710px) {
  .container {
    width: 660px;
    margin: 0 auto;
  }
  .support__info-wrapper {
    width: 500px;
  }
  .support__heading {
    font-size: 45px;
  }
  .support__desc {
    font-size: 17px;
  }
  .support__button {
    width: 220px;
    font-size: 17px;
    line-height: 30px;
    padding: 11px 31px;
  }
  .universities__link__img {

  }
  .title-wrapper {
    width: auto;
  }
  .desc {
    font-size: 17px;
  }
  .services__info__desc {
    font-size: 14px;
  }
  .join-us__container {
    flex-direction: column;
    text-align: center;
  }
  .join-us__heading {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    width: 530px;
    margin: 0 auto;
  }
  .support__info-wrapper {
    width: 400px;
  }
  .countries__item {
    text-align: center;
    margin: 0 !important;
    margin-bottom: 50px !important;
  }
}

@media only screen and (max-width: 530px) {
  .sitenav__logo {
    width: 120px;
    height: auto;
  }
  .container {
    width: 455px;
    margin: 0 auto;
  }
  .events__item {
    text-align: center;
  }
  .events__card {
    align-items: center;
    flex-direction: column;
  }
  .events__card__date {
    margin-bottom: 30px;
  }
  .events__info {
    flex-direction: column;
  }
  .events__info__link {
    margin-bottom: 15px;
  }
  .testimonial__item {
    width: auto;
    text-align: center;
  }
  .testimonial__info {
    text-align: center;
  }
}

@media only screen and (max-width: 455px) {
  .container {
    width: 400px;
    margin: 0 auto;
  }
  .support__info-wrapper {
    width: 300px;
  }
  .support__button {
    width: 220px;
    font-size: 14px;
    line-height: 25px;
    padding: 11px 31px;
  }
  .services__item {
    width: auto;
    text-align: center;
  }
  .services__info__heading:before {
    margin: 0 auto 30px;
  }
  .services__info__link {
    margin: 0 auto;
  }
  .countries__image {
    width: 85%;
    height: 85%;
  }
  .testimonial__item {
    width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 360px;
    margin: 0 auto;
  }
  .news__item {
    width: 300px;
  }
  .news__item img {
    width: 300px;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    width: 310px;
    margin: 0 auto;
  }
  .support__info-wrapper {
    width: auto;
  }
  .news__item {
    width: auto;
  }
}
/*

@media only screen and (max-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }

}
