FONTS*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.woff2") format("woff2"),
       url("../fonts/roboto-v27-latin-900.woff") format("woff");
}
/*CUSTOM PROPERTIES*/
:root {
  --font-family: "Roboto", "Arial", sans-serif;
}
/* #BOX-SIZING */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* #GLOBAL-STYLES */
body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #222;
  font-weight: 500;
}

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 1225px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*SITE-HEADER*/
.sitenav {
  margin-top: 40px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.sitenav__link {
  margin-right: auto;
}
.sitenav__logo,
.site-footer__logo {
  display: block;
}
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sitenav__item {
  margin-left: 72px;
}
.sitenav__link {
  text-decoration: none;
  color: #505050;
  line-height: 20px;
  font-size: 17px;
}
.sitenav__link--bordered {
  padding: 9px 33px 13px 35px;
  border-radius: 11px;
  border: 2px solid #717cff;
  transition: background-color 0.2s linear,
              color 0.1s linear;
}
.sitenav__link--bordered:hover {
  color: #fff;
  background-color: #717cff;
}

/*MAIN*/

/*SUPPORT*/
.support {
  padding-top: 150px;
  padding-bottom: 54px;
  background-image: url("../images/student-woman.png");
  background-repeat: no-repeat;
  background-size: 1049px 728px;
  background-position: calc(50% + 600px) calc(-165%);
}
.support__info-wrapper {
  width: 630px;
}
.support__heading {
  font-weight: 900;
  font-size: 56px;
  line-height: 65px;
  margin-bottom: 15px;
}
.support__heading b {
  color: #717cff;
}
.support__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
  margin-bottom: 42px;
}
.support__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 12px 32px;
  border-radius: 11px;
  margin-bottom: 101px;
}
.support__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 29px;
  transition: transform 0.3s ease;
}
.support__button:hover.support__button:after {
  transform: translateX(10px);
}
.support__socials {
  display: flex;
  align-items: center;
}
.support__socials__link {
  text-decoration: none;
}
.facebook {
  margin-right: 23px;
}
.twitter {
  margin-right: 15px;
}


/*SERVICES SECTION*/
.services {
  padding-top: 122px;
  padding-bottom: 126px;
}
.services__title-wrapper {
  width: 950px;
  margin: 0 auto 110px;
  text-align: center;
}
.services__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
  letter-spacing: -0.46px;
  color: #373737;
}
.services__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.services__item {
  width: 345px;
  border-radius: 15px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  padding: 29px 17px 30px 31px;
}
.services__item:not(.services__item:nth-of-type(3n)) {
  margin-right: 47px;
}
.services__info__heading:before {
  display: block;
  content: "";
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 37px 37px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 30px;

}
.services__info__heading {
  color: #37474f;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 9px;
}
.services__info__heading--radar:before {
  background-image: url("../images/radar.svg");
  background-color: #717cff;
}
.services__info__heading--bookmark:before {
  background-image: url("../images/bookmark.svg");
  background-color: #ff5959;
}

.services__info__heading--checked:before {
  background-image: url("../images/file-checked.svg");
  background-color: #70ce88;
}

.services__info__heading--home:before {
  background-image: url("../images/home.svg");
  background-color: #717cff;
}

.services__info__heading--airplane:before {
  background-image: url("../images/airplane.svg");
  background-color: #fa706c;
}

.services__info__desc {
  color: rgba(55, 71, 79, 0.7216);
  line-height: 28px;
  letter-spacing: 0.44px;
  margin-bottom: 24px;
}
.services__info__link {
  display: flex;
  align-items: center;
  color: #717cff;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
}
.services__info__link:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 29px;
  transition: transform 0.3s ease;
}
.services__info__link:hover.services__info__link:after {
  transform: translateX(10px);
}


/*NEWS*/
.news {
  background-color: #fafafa;
  padding-top: 102px;
  padding-bottom: 124px;
}
.news__title-wrapper {
  width: 950px;
  margin: 0 auto 119px;
  text-align: center;
}
.news__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
  letter-spacing: -0.46px;
  color: #373737;
}
.news__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.news__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 146px;
}
.news__item {
  width: 344px;
  border-radius: 10px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.1039);
}
.news__item:not(.news__item:last-of-type) {
  margin-right: 47px;
}
.news__info {
  background-color: #fff;
  padding: 29px 27px 62px 26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.news__info time:before {
  content: "";
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px;
  margin-right: 12px;
}
.news__info time {
  display: flex;
  margin-bottom: 15px;
}
.news__info__heading {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}
.news__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 12px 34px;
  border-radius: 11px;
  margin: 0 auto;
  margin-bottom: 101px;
}
.news__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 36px;
  transition: transform 0.3s ease;
}
.news__button:hover.news__button:after {
  transform: translateX(10px);
}

/*TESTIMONIAL*/

.testimonial {
  margin-bottom: 98px;
}

.testimonial__title-wrapper {
  width: 950px;
  margin: 0 auto 142px;
  text-align: center;
}
.testimonial__heading {
  font-size: 37px;
  line-height: 54px;
  margin-bottom: 25px;
}
.testimonial__desc {
  font-size: 22px;
  line-height: 38px;
  color: #7d7d7d;
}
.testimonial__list {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  justify-content: space-between;
}

.testimonial__item {
  padding: 39px 34px 46px;
  border-radius: 29px;
  z-index: 11;
}
.testimonial__info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonial__info__img {
  margin-right: 20px;
}
.testimonial__info__heading {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 4px;
  color: rgb(55, 71, 79);
}

.testimonial__info__text {
  font-size: 18px;
  line-height: 21px;
  color: rgba(55, 71, 79, 0.6);
}

.testimonial__info__desc {
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.7216);
}
.slick-slide {
  width: 503px;
  margin-right: 61px;
}

/*JOIN-US*/
.join-us {
  background-color: #fafafa;
  padding-top: 92px;
  padding-bottom: 85px;
}
.join-us__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join-us__heading {
  font-size: 37px;
  line-height: 43px;
  font-weight: 700;
}
.join-us__button {
  width: 262px;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 40px;
  text-decoration: none;
  background-color: #717cff;
  color: #fff;
  padding: 12px 34px;
  border-radius: 11px;
}
.join-us__button:after {
  content: "";
  background-image: url("../images/arrow-right.svg");
  width: 28px;
  height: 26px;
  margin-left: 36px;
  transition: transform 0.3s ease;
}
.join-us__button:hover.join-us__button:after {
  transform: translateX(10px);
}
.section {
  height: 50vh;
  background-color: #fff;
}
